{% extends 'base.html.twig' %}


{% block title %}Enregistrement des informations sur l'entreprise{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Enregistrement des informations sur l'entreprise</h2>
  {{ include('Informations/_info.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}