{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Enregistrement des détails de la commande fournisseur du {{ commande.date|date('d-mY') }}
{% endblock %}


{% block body %}
    <h2>Enregistrement des détails de la commande fournisseur du {{ commande.date|date('d-mY') }}</h2>
    {{ include('Admin/Purchase/_purchase-details.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      // A chaque fois que le prix change
      $('.price').on('input',function(e){
        var id = $(this).attr("name");
        var price = $(this).val();
        var priceH = document.getElementById('priceH[' + id + ']');
        var qte = document.getElementById('quantity[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        priceH.value = price;
        sousTotal.value = parseFloat(qte) * parseFloat(price);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });

      // A chaque fois que la quantité change
      $('.quantity').on('input',function(e){
        var id = $(this).attr("name");
        var qte = $(this).val();
        var quantityH = document.getElementById('quantityH[' + id + ']');
        var price = document.getElementById('price[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        quantityH.value = qte;
        sousTotal.value = parseFloat(price) * parseFloat(qte);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });
    });
  </script>
{% endblock %}
