{% extends 'base.html.twig' %}


{% block title %}Enregistrement d'une commande{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Enregistrement d'une commande</h2>
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    {{ include('Admin/Purchase/_purchase.html.twig') }}
  </div>
{% endblock %}
