{% extends 'base.html.twig' %}


{% block title %}Modification de famille - {{ mark.label }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
  <h2 class="nimate-box" data-animate-effect="fadeInLeft">Modification de la famille <strong>{{ mark.label }}</strong> </h2>
  {{ include('Family/_familyhtml.twig', {button: 'Editer'}) }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}