{% extends 'base.html.twig' %}


{% block title %}Modification de marque - {{ mark.label }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Modification de la marque <strong>{{ mark.label }}</strong> </h2>
    <a href="javascript:history.back()" class="btn-sm btn-primary">Retour</a><br><br>
    {{ include('Admin/Mark/_mark.html.twig', {button: 'Editer'}) }}
  </div>
{% endblock %}
