{% extends 'base.html.twig' %}


{% block title %}Ajout de marchandise{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Ajout de marchandise</h2>
  {{ include('Product/_product.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
    $(document).ready(function() {
        $("#codebarre").focus();
        // $("#codebarre").select();

        var barcode="";
        var oldBarcode = $('#codebarre').val();
        var productId = $("#productId").val();
        var is_exists;
        
        $('#codebarre').on("keydown", function(e) {            
            var code = (e.keyCode ? e.keyCode : e.which);
            // console.log(is_exists);
            $("#notif p").text('');
            if(code==13){
              // $.ajax({
              //   url: '/products/set-code-barre/' + productId + '/' + barcode,
              //   type: 'GET',
              //   dataType: 'json',
              //   success: function (result) { 
              //     if(result === false){
              //       $("#notif p").text('Code barre ' + barcode + ' déjà utilisé.');
              //       $("#notif p").css("color", "red");
              //       is_exists = 1;
              //       return false;
              //     }
              //     else{
              //       is_exists = 2;
              //       return false;
              //     }
              //     // barcode = "";
              //   },
              //   error: function (xhr, status, error) {
              //     $("#notif p").text('Désolé ! Le serveur de données a rencontré un problème.');
              //     $("#notif p").css("color", "red");
              //     console.log(error)
              //   }
              // });
              console.log(oldBarcode, barcode, is_exists);
              
              this.value = is_exists == 1 ? oldBarcode : barcode;
              barcode = "";
              return false;
            }
            else{
              barcode=barcode+String.fromCharCode(code);
            }
          });
    });
  </script>
{% endblock %}