{% extends 'base.html.twig' %}


{% block title %}Modification de catégorie - {{ category.name }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Modification de la catégorie <strong>{{ category.name }}</strong> </h2>
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    {{ include('Admin/Category/_category.html.twig', {button: 'Editer'}) }}
  </div>
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
      // disable the button
      btn.disabled = true;
      // submit the form    
      btn.form.submit();
    }
  </script>
{% endblock %}
