{% extends 'base.html.twig' %}

{% block stylesheets %}
  <style>
    th, td{
      vertical-align: middle;
    }
  </style>
{% endblock %}



{% block title 'Gestion de rôles utilisateur | ' ~ user.username %}



{% block notifications %}
{% endblock %}



{% block body %}
  <!-- Content Row -->
  <div class="fh5co-narrow-content">
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Gestion des rôles de l'utilisateur <strong>{{ user.username }}</strong> </h2>
    <div class="row">
      <div class="col">
        <form action="#" method="post">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" width="20%">Rôles</th>
                <th scope="col" width="80%">Descriptions</th>
              </tr>
            </thead>
            </tbody>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch1" value="ROLE_VENTE" {% if 'ROLE_VENTE' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch1">ROLE_VENTE</label>
                  </div>
                </td>
                <td>
                  Permet à l'utilisateur d'enregistrer des ventes
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch2" value="ROLE_ACHAT" {% if 'ROLE_ACHAT' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch2">ROLE_ACHAT</label>
                  </div>
                </td>
                <td>
                  Permet à l'utilisateur d'enregistrer des achats de marchandises après des fournisseurs du magasin
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch3" value="ROLE_COMPTABLE" {% if 'ROLE_COMPTABLE' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch3">ROLE_COMPTABLE</label>
                  </div>
                </td>
                <td>
                  Avec ce rôle, l'utilisateur peut avoir accès à certaines informations de la comptabilité du magasin.
                </td>
              </tr>
              <tr>
                <td>
                  {# <div class="custom-control custom-switch"> #}
                    <input type="checkbox" name="roles[]" id="customSwitch4" value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch4">ROLE_ADMIN</label>
                  {# </div> #}
                </td>
                <td>
                  Dispose des rôles ROLE_VENTE, ROLE_ACHAT. Peut aussi ajouter et éditer des produits. Il peut aussi enregistrer des échéances de paiement
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch5" value="ROLE_STOCK_INITIAL" {% if 'ROLE_STOCK_INITIAL' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch5">ROLE_STOCK_INITIAL</label>
                  </div>
                </td>
                <td>
                  Permettre la modification du stock initial de produits.
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch6" value="ROLE_DEPOT" {% if 'ROLE_DEPOT' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch6">ROLE_DEPOT</label>
                  </div>
                </td>
                <td>
                  Ce rôte permet à l'utilisateur d'effectuer toutes les opérations liées aux dépôts. Enregistrement de nouveaux dépôts, modification, approvisionner un dépôt à partir d'un autre...
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch7" value="ROLE_STATISTIQUES" {% if 'ROLE_STATISTIQUES' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch7">ROLE_STATISTIQUES</label>
                  </div>
                </td>
                <td>
                  Avec ce rôle, l'utilisateur peut voir les statistiques des ventes.
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('roles_management') }}"/>
          <button class="btn-sm btn-success">
            <span class="text">Appliquer les modifications</span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{% endblock %}
