{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}



{% block title 'Gestion de rôles utilisateur | ' ~ user.username %}



{% block notifications %}
{% endblock %}



{% block body %}
  <!-- Content Row -->
  <div class="fh5co-narrow-content">
    <div class="row">
      <div class="col">
        <h3 class="animate-box" data-animate-effect="fadeInLeft">Gestion des rôles de l'utilisateur <span>{{ user.username }}</span> </h3>
        <form action="#" method="post">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Rôles</th>
                <th scope="col">Descriptions</th>
              </tr>
            </thead>
            </tbody>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch1" value="ROLE_VENTE" {% if 'ROLE_VENTE' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch1">ROLE_VENTE</label>
                  </div>
                </td>
                <td>
                  Permet à l'utilisateur d'enregistrer des ventes
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch2" value="ROLE_APPROVISIONNEMENT" {% if 'ROLE_APPROVISIONNEMENT' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch2">ROLE_APPROVISIONNEMENT</label>
                  </div>
                </td>
                <td>
                  Permet à l'utilisateur d'enregistrer des achats de marchandises après des fournisseurs du magasin
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch3" value="ROLE_COMPTABLE" {% if 'ROLE_COMPTABLE' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch3">ROLE_COMPTABLE</label>
                  </div>
                </td>
                <td>
                  Avec ce rôle, l'utilisateur peut gérer toute la comptabilité du magasin
                </td>
              </tr>
              <tr>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" name="roles[]" id="customSwitch4" value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch4">ROLE_ADMIN</label>
                  </div>
                </td>
                <td>
                  Dispose des rôles ROLE_VENTE, ROLE_APPROVISIONNEMENT. Peut aussi ajouter et éditer des produits. Il peut aussi enregistrer des échéances de paiement
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('roles_management') }}"/>
          <button class="btn-sm btn-success">
            <span class="text">Appliquer les modifications</span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
{% endblock %}
