{% extends 'base.html.twig' %}


{% block title %}Modification de type de dépense - {{ typedepense.label }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Modification du type de dépense <strong>{{ typedepense.label }}</strong> </h2>
    {{ include('Admin/TypeDepense/_typedepense.html.twig', {button: 'Editer'}) }}
  </div>
{% endblock %}
