{% extends 'base.html.twig' %}


{% block stylesheets %}
  <style>
    label.required:before{
      content: "* ";
    }
  </style>
{% endblock %}


{% block title %}Enregistrement d'un client{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
  <h2 class="animate-box" data-animate-effect="fadeInLeft">Enregistrement d'un client</h2>
  {{ include('Admin/Customer/_customer.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
      // disable the button
      btn.disabled = true;
      // submit the form    
      btn.form.submit();
    }
  </script>
{% endblock %}
