{% extends 'base.html.twig' %}


{% block title %}Enregistrement d'une dépense{% endblock %}


{% block stylesheets %}
  <style>
    label.required:before{
      content: "* ";
    }
  </style>
{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Enregistrement d'une dépense</h2>
  {{ include('Depense/_depense.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
